{% extends 'page.html' %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    {% link_for _(c.page.title), controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.page.name %}
  </li>
{% endblock %}

{% block page_header %}{% endblock %}
{% if h.check_access('ckanext_pages_update') %}
  {% block page_primary_action %}
    {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + c.page.name, class_='btn btn-primary', icon='edit' %}
  {% endblock %}
{% endif %}

{% block secondary_content %}
  {% snippet "ckanext_pages/snippets/sidebar.html" %}
{% endblock %}
