{% ckan_extends %}

{% block header_account_log_out_link %}
{% if c.userobj.sysadmin %}
  <li>
    <a href="{{ h.url_for('pages_index') }}" title="{{ _('Manage Pages') }}">
      <span class="text">{{ _('Manage Pages') }}</span>
    </a>
  </li>
{% endif %}
<!-- temporarily turning off blog links -->
<!--  <li>-->
<!--    <a href="{{ h.url_for('blog_index') }}" title="{{ _('Blog') }}">-->
<!--      <i class="fa fa-pencil icon-pencil"></i>-->
<!--    </a>-->
<!--  </li>-->
  {{ super() }}
{% endblock %}
